@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@theme {
  --color-stroke-brandNeutral-1: #9eb1c2;
  --color-bg-brandNeutral-secondary-pressed: #c7d2dc;
  --color-bg-brandNeutral-primary: #4a5662;
  --color-bg-brandNeutral-secondary: #7a8fa3;
  --color-bg-brandNeutral-secondary-enabled: #f0f4f8;
  --color-bg-brandNeutral-secondary-hover: #d9e1e7;
  --color-bg-brandNeutral-subtle-pressed: #d9e1e7;
  --color-bg-brandNeutral-subtle-enabled: #ffffff;
  --color-bg-disabled-brandNeutral: #f0f4f8;
  --color-bg-neutral-primary: #ffffff;
  --color-fg-brandNeutral-secondary: #7a8fa3;
  --color-fg-onBrand-primary: #ffffff;
  --color-fg-primary: #4a5662;
  --color-fg-brand-secondary: #0d89be;
  --color-fg-brandNeutral-primary: #4a5662;
  --color-fg-neutral-onInverse: #ffffff;
  --color-fg-neutral-primary: #1e1e1e;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
